app = "professor-scraper"
primary_region = "hkg"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  CHROMIUM_PATH = "/usr/bin/chromium"
  CHROMEDRIVER_PATH = "/usr/bin/chromedriver"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512

